APP_ENV=local
APP_DEBUG=true
APP_KEY=lTCCHaZqwfczvuj0CC4rHq03vWrO9WFS

DB_HOST=localhost
DB_DATABASE=prok
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=465
MAIL_USERNAME=contact@siddhivinaayak.org
MAIL_PASSWORD=siddhivinaayak#123
MAIL_ENCRYPTION=ssl
NOCAPTCHA_SECRET=[secret-key] - 6LfXdS4UAAAAAGlZQhyjfRrUEnLdlp2grYkAASLM
NOCAPTCHA_SITEKEY=[site-key] - 6LfXdS4UAAAAAFzk92pUoix-FvaYIuABEdw-3p1s